html, body {
	background:#0a0a0a;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Rubik Mono One', sans-serif;
	text-align: center;
}

div.gamearea {
	padding:5px;
	text-align: center;
}

div.gamearea div.ga-info-wrap {
	min-height: 290px;
}

div.gamearea div.ga-info-wrap.background {
	background-color: #211b2f;
}

h4.ga-title {
	color:#6efba2;
}

div.jumbotron {
	background-color:#2201a2 ;
	color:white;
	overflow: auto;
	padding-bottom: 0px;
}

div.jumbotron form {
	padding:0px 0px 28px;
}

img {
	max-height: 250px;
}
