h1, h2, h3, h4, h5, h6{
	font-family: 'Rubik Mono One', sans-serif;
}

div.gamearea {
	padding:5px;
	text-align: center;
}

div.gamearea div.ga-info-wrap {
	border:1px solid black;
	min-height: 290px;
}

div.ga-title {
	font-size: 18px;
	font-weight: bold;
}

img {
	width: 250px;
	height: 250px;
}
